$bgPrimary : #ffffff;
$bgSecondary: #f1f1f1;
$textPrimary: #444444;
$textSecondary: #aaaaaa;
$buttonPrimary: #3a7cc7;
$buttonSecondary: #000000;

$headerBG: #2b2d2d;
$headerFG: #ffffff;

$sidebarBG: #cf3b45;
$sidebarFG: #ffffff;

$contentBG: #ffffff;
$contentFG: #505454;