<h5>Gallery</h5>
<acl-gallery [images]="images$|async" [permissions]="permissions" (fullImage)="fullImageEvent($event)" (add)="addImageEvent($event)" (delete)="deleteImageEvent($event)"></acl-gallery>

<h5>Single Image</h5>
<acl-picture [image]="image" [permissions]="permissions" (delete)="deleteEvent($event)"></acl-picture>

<h5>Permissions</h5>
<label>read access</label>
<input type="checkbox" [(ngModel)]="permissions.canRead" />
<label>write access</label>
<input type="checkbox" [(ngModel)]="permissions.canWrite" />